{{ partial "header.html" . }}

<div id="container">
  <div id="post-header">
    <h1>{{ .Title }}</h1>
    <time>{{ .Date.Format "2006-01-02 15:04" }}</time>
  </div>
  {{ if and (not (or .Site.Params.notoc .Params.notoc)) .TableOfContents }}
  <div class="toc">
    <small class="toc-label">Contents</small>
    {{ .TableOfContents }}
  </div>
  {{ end }}

  <div class="post">
    {{ .Content }}
  </div>

  <div class="post-infos">
    {{ .Render "tags" }}
  </div>

  {{ if isset .Site.Params "disqusShortname" }}
    {{ partial "disqus.html" . }}
  {{ end }}
</div>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
